[submodule "plugins/yellow-restaurant"]
	path = plugins/yellow-restaurant
	url = https://github.com/ZorCorp/yellow-restaurant.git
[submodule "plugins/code-to-video"]
	path = plugins/code-to-video
	url = https://github.com/ZorCorp/code-to-video.git
[submodule "plugins/prototyper"]
	path = plugins/prototyper
	url = https://github.com/ZorCorp/prototyper.git
[submodule "plugins/cx-trip-pa"]
	path = plugins/cx-trip-pa
	url = https://github.com/ZorCorp/cx-trip-pa.git
[submodule "plugins/hermes-on-cf"]
	path = plugins/hermes-on-cf
	url = https://github.com/ZorCorp/hermes-on-cf.git
[submodule "plugins/openclaw-on-cf"]
	path = plugins/openclaw-on-cf
	url = https://github.com/ZorCorp/openclaw-on-cf.git
[submodule "plugins/kf-cli"]
	path = plugins/kf-cli
	url = https://github.com/ZorCorp/kf-cli.git
	branch = master
[submodule "plugins/zorskill-dev"]
	path = plugins/zorskill-dev
	url = https://github.com/ZorCorp/zorskill-dev.git
[submodule "plugins/fc-bms2"]
	path = plugins/fc-bms2
	url = https://github.com/ZorCorp/fc-bms2.git
[submodule "plugins/gcp-bq"]
	path = plugins/gcp-bq
	url = https://github.com/ZorCorp/gcp-bq.git
[submodule "plugins/bms2"]
	path = plugins/bms2
	url = https://github.com/ZorCorp/bms2.git
[submodule "plugins/mcai-webapp"]
	path = plugins/mcai-webapp
	url = https://github.com/ZorCorp/mcai-webapp.git
[submodule "plugins/genimage"]
	path = plugins/genimage
	url = https://github.com/ZorCorp/genimage.git
[submodule "plugins/figma-to-wp"]
	path = plugins/figma-to-wp
	url = https://github.com/ZorCorp/figma-to-wp.git
