[submodule "plugins/kf-claude"]
	path = plugins/kf-claude
	url = https://github.com/ZorCorp/kf-claude.git
[submodule "plugins/kf-cli"]
	path = plugins/kf-cli
	url = https://github.com/ZorCorp/kf-cli.git
[submodule "plugins/flight"]
	path = plugins/flight
	url = https://github.com/ZorCorp/flight-skill.git
[submodule "plugins/yellow-restaurant"]
	path = plugins/yellow-restaurant
	url = https://github.com/ZorCorp/yellow-restaurant.git
[submodule "plugins/code-to-video"]
	path = plugins/code-to-video
	url = https://github.com/CYH928/codetovideo-plugin
[submodule "plugins/prototyper"]
	path = plugins/prototyper
	url = https://github.com/CYH928/prototyper-plugin
